@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    2722 North Dr. MLK Jr Drive<br />
    Milwaukee, Wisconsin 53212<br />
    <abbr title="Phone">P:</abbr>
    (414) 265-7099
</address>

<address>
    <strong>Management:</strong>   <a href="mailto:Management@bestfriendz.com">Management@bestfriendz.com</a><br />
    <strong>Scheduling:</strong> <a href="mailto:Scheduling@bestfriendz.com">Scheduling@bestfriendz.com</a>
</address>