@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">The CHEERS of Milwaukee...food, pool, darts and dancing.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Hours</h3>
        <p>Mon: 5:00pm - 12:00am </p>
        <p>Tues- Sun: 2:00pm - 2:00am </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>